@import "reset.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button,
input {
    all: unset;
}

.mainDiv {
    display: flex;
    justify-content: center;
}

.targetUserName{
    width: 300px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 2px solid #949494;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.similarBoundary {
    width: 100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 2px solid #949494;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.frequentProblemsElement,
.topProblemsElement {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.frequentProblemsElement:hover {
    box-shadow: 0 0 0 5px #87ff7c inset;
}

.topProblemsElement:hover {
    box-shadow: 0 0 0 5px #2eadfd inset;
}

.mainText {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 15px;
    padding: 30px;
    padding-bottom: 0px;
}
.subText {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #949494;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 15px;
    padding: 5px;
}
.fpText {
    font-weight: 900;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #949494;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 25px;
    background: linear-gradient(to right, #797979, #b3b3b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tpText {
    font-weight: 900;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #949494;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 25px;
    background: linear-gradient(to right, #b3b3b3, #797979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    padding-bottom: 50px;
    border-bottom: 2px solid #949494;
}

.gradient {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 50px;
    background: linear-gradient(to right, #87ff7c, #2eadfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subGradient {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 30px;
    background: linear-gradient(to right, #FF3B57, #f4c374);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frequentProblems {
    margin: 0 30px 0px 30px;
    padding: 30px;
    border-right: 2px solid #949494;
}
.topProblems {
    margin: 0 30px 0px 30px;
    padding: 30px;
    border-left: 2px solid #949494;
}

.btns {
    display: flex;
    justify-content: center;

    font-weight: bolder;
    font-size: 30px;
    text-align: center;

    padding: 20px;

    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-bottom: 2px solid #949494;
}
#calculateBtn {
    padding: 10 20 10 20px;
    border-radius: 10px;
    color: rgb(75, 75, 75);
    cursor: pointer;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#calculateBtn:hover {
    background: linear-gradient(to right, #87ff7c, #2eadfd);
    color: #ffffff !important;
}
