<html>
    <head>
        <meta
            http-equiv="Content-Type"
            content="text/html; charset=windows-1252"
        />
        <title>BOJPSR</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body
        onload="main()"
        style="background-color: white"
        cz-shortcut-listen="true"
    >
        <div class="mainText gradient">
            <span>BOJ Problem Set Recommendation</span>
        </div>
        <div class="subText subGradient">
            <span>with Solved.ac API</span>
        </div>
        <div class="mainContent">
            <form method="GET" action="/result" id = "inputValues">
                <input 
                    id="targetUserName"
                    class="targetUserName"
                    name="targetUserName"
                    placeholder="User Name"
                />
                <input 
                    id="similarBoundary"
                    class="similarBoundary"
                    name="similarBoundary"
                    type="number"
                    placeholder="10"
                />
                <div class="btns">
                    <button button type="submit" id="calculateBtn">Get Problems!</button>
                </div>
            </form>
        </div>
    </body>
</html>
